<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/abc/css/userSupport.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<section>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/admin">OMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/profile">My Profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin/allCustomer">All Customers</a>
          <a class="dropdown-item" href="/admin/allMedicine">All Medicine</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</nav>

<div class="w3-container">
      <div class="container" id="card">    
      <table class="table table-hover" id="events" style="margin-top: 5%">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Vendor Name</th>
          <th>Price</th>
          <th>Segmentation</th>
          <th>Genre</th>
          <th>Amount</th>
          <th>Availability</th>
          <th>Action</th>
        </tr>

        <% for(var i=0; i< medlist.length; i++ ){ %>
        <tr id="rows">
          <td><%= medlist[i].id %></td>
          <td><%= medlist[i].name %></td>
          <td><%= medlist[i].vendorName %></td>
          <td><%= medlist[i].price %></td>
          <td><%= medlist[i].segmentation %></td>
          <td><%= medlist[i].genre %></td>
          <td><%= medlist[i].amount %></td>
          <td><%= medlist[i].availability %></td>
          <td>
            <a class="btn btn-dark" href="/admin/editMedicine/<%=medlist[i].id%>">Edit</a> 
            <a class="btn btn-info" href="/admin/deleteMedicine/<%=medlist[i].id%>">Delete</a> 
          </td>
        </tr>
        <% } %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td align="center"><a class="btn btn-info" href="/admin/addMedicine">Add</a></td>
        </tr>

      </table>
    </div>
  </div>
  <br>
</section>
<script>
  $(document).ready(function(){
       $('#search').keyup(function(){
            search_table($(this).val());
       });
       function search_table(value){
            $('#events #rows').each(function(){
                 var found = 'false'; 

                 $(this).each(function(){
                      if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                      {
                           found = 'true';
                      }
                 });
                 if(found == 'true')
                 {
                      $(this).show();
                 }
                 else
                 {
                      $(this).hide();
                 }
            });
       }
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>